    .img-center {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .mg-image img {
        -webkit-transition: all 1s ease;
        /* Safari and Chrome */
        -moz-transition: all 1s ease;
        /* Firefox */
        -o-transition: all 1s ease;
        /* IE 9 */
        -ms-transition: all 1s ease;
        /* Opera */
        transition: all 1s ease;
        max-width: 100%;
    }
    
    .mg-image:hover img {
        -webkit-transform: scale(1.25);
        /* Safari and Chrome */
        -moz-transform: scale(1.25);
        /* Firefox */
        -ms-transform: scale(1.25);
        /* IE 9 */
        -o-transform: scale(1.25);
        /* Opera */
        transform: scale(1.25);
    }
    
    .hovnav:hover {
        color: #be8c3c !important;
    }
    
    .textgold {
        color: #be8c3c !important;
    }
    
    .navtextcolor {
        color: black !important;
    }
    
    .backgroundgold {
        background-color: #be8c3c !important;
    }
    
    .btnAdmin {
        background-color: #be8c3c !important;
    }
    
    .paralaximg1 {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .paralaximg2 {
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -10;
    }
    
    #parra {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    
    .para {
        /* Full height */
        height: 400px;
        width: 90%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    .para2 {
        /* Full height */
        height: 400px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    .text-justify {
        text-align: justify !important;
    }

    @media screen and (min-width: 320px) and (max-width: 640px) {
        .fontsm {
            font-size: 45px !important;
        }
        /* .taillesmAV{
            width: 100% !important;
            height: auto !important;
        } */

        /* Pour les titres en mode téléphone */
        .fontsm30{
            font-size: 30px !important;
        }

        /* Pour la partie académie de l'accueil "mode téléphone" */
        .movesm{
            padding:30px !important;
            text-align:justify !important;
            right:0% !important;
        }

        /* Pour la taille du carousel de la partie engagement */
        .img30{
            width: 30% !important;
        }

        /* Pour les textes de la partie presse */
        .presstxt{
            padding: 30px !important;
            margin-right:50px !important;
        }

        /* Pour le titre "section presse" et pour les dates*/
        .h1press{
            padding-left: 20px!important;
        }
        
        /* Pour les images de la partie press */
        .imgpress{
            padding-left: 10px !important;
        }

        .imgdisp{
            display: none;
        }
        
      }

      @media screen and (max-width: 768px){

        /* Pour les titres de la partie evenemnt */
        .fontmd30{
            font-size: 30px !important;
        }

        /* Pour le texte de l'académie en mode tablette */
        .txtacad{
            right: 0px !important;
        }

        /* Pour la taille du carousel en mode tablette */
        .img70{
            width: 73%!important;
        }

        /* Décalage sur la droite pour les articles de la section presse */
        .pressmd{
            padding: 20px;
        }

        .imgdisp{
            display: none;
        }

      }

      @media screen and (max-width: 1000px){

        .imgdisp{
            display: none;
        }
      }

      @media screen and (min-width: 1000px) and (max-width: 2560px) {
        .imgA{
            Z-INDEX: 1 !important;
            position: absolute !important;
            width: 65% !important;
            visibility: visible !important;
            display: none !important;
        }
      }